
    <footer>
        <div class="footer-col">
          <h3>Top Products</h3>
          <li>Manage Reputation</li>
          <li>Power Tools</li>
          <li>Managed Website</li>
          <li>Marketing Service</li>
        </div>
        
        <div class="footer-col">
         <h3>Quick Links</h3>
         <li>Manage Reputation</li>
         <li>Power Tools</li>
         <li>Managed Website</li>
         
       </div>
       
       <div class="footer-col">
         <h3>Features</h3>
         <li>Research</li>
         <li>Experts</li>
         <li>Managed Website</li>
         <li>Marketing Service</li>
         
       </div>
       <div class="footer-col">
         <h3>Resources</h3>
         <li>Manage Reputation</li>
         <li>Power Tools</li>
         <li>Managed Website</li>
         
       </div>
     
      </footer>
      
    
