<nav>
    <img src="./images/logo.jpg" alt="logo">
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      
    </a>
    <div class="navigation">
      <ul>
        <i id="menu-close" class="fa fa-times "></i>
        <li><a href="./index">Home</a></li>
        <li><a href="./courses">Courses</a></li>
        <li><a href="./about">About</a></li> 
        <li><a href="./create">Share Ideas</a></li>
        <li><a href="./contact">Contact</a></li>
        
      </ul>
      <img id="menu-btn" src="images/menu.png" alt="">
    </div>
  </nav>