<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>
    <section id="home">
        <div class="btn">
          <a class="blue" href="#">Contact Us</a>
        </div>
     
      </section>
    
     <div class ="contact content">
         <h2>Contact us</h2>
     </div>
     

     















      <%- include('./partials/footer.ejs') %> 
      <script src="script.js"></script>
</body>
</html>