<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>
    
    <section id="home">
        <div class="btn">
          <a class="blue" href="#">Courses</a>
        </div>
    </section>
     

    
     <div class ="courses content">
        
       
     </div>
     
      <%- include('./partials/footer.ejs') %> 
      <script src="script.js"></script>
</body>
</html>