<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>

    
    <!-- Home -->
 <section id="home">
    <div class="btn">
      <a class="blue" href="#">Explore Courses</a>
    </div>
 
  </section>

  <!-- Counters -->
 
 <section class="counters">
   <div class="container">
     <div>
       <i class="fas fa-chalkboard fa-3x"></i> 
       <div class="counter" data-target="378">0</div>
       <h3>Courses</h3>
     </div>
     <div>
       <i class="fas fa-user-circle fa-3x"></i>
       <div class="counter" data-target="369">0</div>
       <h3>Joined</h3>
     </div>
     <div>
       <i class="fas fa-apple-alt fa-3x"></i>
       <div class="counter" data-target="347">0</div>
       <h3>Experts</h3>
     </div>
   </div>
 </section>
 </head>
 
 <!-- Courses -->
 <section id="course">
 <h1>Over 500 Interactive Online Classes</h1>
 <p>Keep kids ages 3-18 engaged with thousands of classes and camps on the topics they're most passionate about!</p>
 <div class="course-box">
 
   <div class ="courses">
     <img src="./images/teens.jpg" alt="toddler">
     <div class="details">
       <h6>Toddler courses</h6>
       
     </div>
 
     <div class="cost">Toddler</div>
     
   </div>
 
   <div class ="courses">
     <img src="./images/age5.jpg" alt="Youth">
     <div class="details">
       <h6>Youth courses</h6>
       
     </div>
 
     <div class="cost">Youth</div>
     
   </div>
 
   <div class ="courses">
     <img src="./images/teens.jpg" alt="toddler">
     <div class="details">
       <h6>Teens courses</h6>
       
     </div>
 
     <div class="cost"> Teens</div>
    
   </div>
 
 </div>
 
 </section>
 
 <!-- Profiles -->
 
 <section id="experts">
   <h1>Experts</h1>
   <div class="expert-box">
     <div class="profile"> 
      <img src="images/Ethan.png" alt="Ethan">
      <h6>Ethan</h6>
      <p>Robot Expert</p>
      <div class="pro-links">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
     </div>
     
     <div class="profile"> 
      <img src="images/Ethan.png" alt="Ethan">
      <h6>Ethan</h6>
      <p>Robot Expert</p>
      <div class="pro-links">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
     </div>
     
     <div class="profile"> 
      <img src="images/Ethan.png" alt="Ethan">
      <h6>Ethan</h6>
      <p>Robot Expert</p>
      <div class="pro-links">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
     </div>

     <div class="profile"> 
      <img src="images/Ethan.png" alt="Ethan">
      <h6>Ethan</h6>
      <p>Robot Expert</p>
      <div class="pro-links">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
     </div>
   
    </div>
 </section>
 
 <%- include('./partials/footer.ejs') %>
 
 <script src="script.js"></script>
     
     
</body>
</html>