
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    margin:0;
    padding:0;
}

/* golbal tags  */

h1{
    font-size: 2.5 rem;
    font-weight: 700;
    color:rgb(35,35,85);
}

span{
    font-size:.9rem;
    color:#757373;
}

h6{
    font-size:1.1rem;
    color:rgb(24,24,49);
}

/* Navigation */

nav{
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding:1vw 8vw;
    position:fixed;
    text-transform: uppercase;
    box-shadow:2px 2px 10px rgba(0,0,0,0.15);
    width: 100%;
    height: 15%;
    background-color: white;
    z-index: 999;

}

nav img{
    width:150px;
    cursor: pointer;
   
}

nav .navigation{
    display: flex;
}

#menu-btn{
    width:30px;
    height: 30px;
    display: none;
}

#menu-close{
  display: none;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}


nav li{
    list-style:none;
    margin-left:30px;


}

nav a{
    text-decoration: none;
    color: rgb(8, 0, 0);
    font-size:16px;
    font-weight: 300;
    transition:0.3 ease;
}

nav a:hover{
    color:rgb(46,51,140);

}





/* homepage  */

#home{
    background-image:linear-gradient(rgba(84, 81, 110, 0.13),rgba(55, 53, 161, 0.267)),
    url("./images/homepage.jpg");
    width:100%;
    height:80vh;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:400px;
    

}


#home  a{
    text-decoration: none;
    font-size: 1.5rem;
    padding:13px 35px;
    background-color:rgba(15, 15, 1, 0.904);
    font-weight: 600px;
    border-radius: 5px;

}

#home  a.blue{
    color:rgb(37, 22, 22);
    background:rgb(243, 227, 10);
    transition:0.3s ease;

}
#home a.blue:hover{
    color:rgb(21,21,100);
    background-color: rgb(245, 244, 247);
}


/* Counter */

.counters{
    padding:4vw;

}





 /* courses page  */


.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding:50px;
    margin:10px;
    align-items:center;
    padding: 40px;
    margin:20px ;
    text-align: center;
    

    
}
.counter{
    text-align: center;
    padding:30px;
}


/* course */

#course{
    padding:2vw 8vw ;
    text-align: center;
    

}

#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-gap:1rem;
    margin:60px 40px;
    justify-items: center;
    


    
}

#course .courses{
    text-align:start;
    background: #F9F9FF;
    height: 100%;
    padding:40px;
    position: relative;

}

#course .courses img{
    width:100%;
    height:70%;
    background-size: cover;
    
    background-position: center;
}

#course .courses .details {
    padding-top: 20px;
}

#course .courses .cost{
    background-color: rgb(74,74,136);
    color:white;
    line-height:70px;
    width:70px;
    height:70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right:3px;
    bottom:90px;
}

/* Experts */

#experts{
    padding:4vw 8vw 8vw 8vw;
    text-align: center;
    
}
#experts .expert-box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:1rem;
    margin: 50px;
    padding:30px;

   

}

#experts .expert-box .profile{
    background:#fafaf1 ;
    padding:80px 40px;
   
    
}
.pro-links {
    margin-top:10px;
}
.pro-links i {
    padding:10px 10px;
    border:1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3 ease;
    
    

}

.pro-links i:hover{
    background: rgb(21,21,100) ;
    color:#fff;
    border:1px solid rgb(21,21,100);
    cursor: pointer;
}


/* footer */

footer{
    padding:8vw;
    background-color: rgb(22,79,177) ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color:rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
   
    padding:10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;

}

footer li:hover{
    color: rgb(241,240,245);
}

/* about page  */

/* added for grid display */
.grid-container {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#about-container ,#access {
    
        box-sizing: border-box;
      
    
    
    
}
    
#about-container .computer{
 
}
    

.key{
  
}




@media (max-width:769px){
   nav{
       padding:15px 20px;
   }
   nav img{
       width: 130px;
   }
   
   #menu-btn{
   display: initial;
}

#menu-close{
  display: initial;
  font-size: 1.6rem;
  color: #fff;
  padding:30px 0 20px 20px;
}

nav .navigation ul{
    position: absolute;
    top:0;
    right:-180px;
    width: 180px;
    height: 100vh;
    background:rgb(22,79,177,0.65) ;
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255,255,255,0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    transition:0.3s ease;
}

nav .navigation ul.active{
   right:0;
}

nav li{
   padding:20px 0 20px 40px;
   margin-left:0;
}

nav a{
    color:#fff;
}

#course{
    padding:8vw 4vw 0vw 4vw;
}

#experts{
    padding:8vw 8vw 8vw 8vw;
    text-align: center;
}

#course .courses .cost {
    right: 15px;
    bottom: 70px;
}  
    
#course .courses .details{
    padding-top:40px;
    padding-bottom: 40px;
}

}


@media(max-width:475px){
    #experts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }











}